parser: babel-eslint

extends: airbnb

plugins: [react, jsx-a11y, import, extra-rules]

parserOptions:
  sourceType: module

env:
  es6: true
  browser: true
  node: true
  mocha: true

rules:
  global-require: 0
  no-param-reassign: 0
  import/no-extraneous-dependencies: 0
  max-len: 0
  import/extensions: 0
  import/no-unresolved: 0
  import/no-named-as-default: 0
  react/jsx-filename-extension: 0
  class-methods-use-this: 0
  react/prop-types: 0
  no-underscore-dangle: 0
  prefer-arrow-callback: 0
  import/prefer-default-export: 0
  no-undef: 0